body{
    background-color: #eddab6;
}
/*Text on page*/
#heading{
    color:rgb(16, 17, 17);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 40px;
    text-align: center;
}

/* Main calculator body*/
.form-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #c8aa8c;
    width: 320px;
    height:200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 5px 15px 2px rgb(126, 124, 120);
}
/*Input box*/
#result{
    background-color: #d9cdbb;
    border: none;
    outline: none; /* removes selection outline */
    border-radius: 7px;
    margin: 6px;
    width: 310px;
    height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    color:#362915;
    font-weight: bold;
}
#result:hover{
    transition-duration: 0.2s;
    scale: 101%;
    box-shadow: 2px 2px 5px rgb(100, 99, 95);
}

/*Button Grid*/
#grid-container{
    display:grid;
    grid-template-columns:auto auto auto auto auto auto;
    gap: 2.5px;
}
#b7,#b4, #b1{
    grid-column-start: 1;
}
#clear{
    width: auto;
    grid-row: 1;
    grid-column: 5 / span 2;
}
#ans{
    height: auto;
    width: 45px;
    border: none;
    border-radius: 7px;
    background-color:#d8c7ab;
    color: #a57227;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-row: 1 / span 2;
    grid-column: 4;
}
#plus{
    grid-row:2;
    grid-column: 5;
}
#minus{
    grid-row:2;
    grid-column: 6;
}
#divid{
    grid-row:3;
    grid-column: 5;
}
button{
    margin: 2px;
    height: 45px;
    width: 45px;
    background-color:#d8c7ab;
    border-radius: 5px;
    border-style: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a57227; 
}

button:hover, #ans:hover{
    background-color: #d9c099;
    transition-duration: 0.2s;
}

#foot{
    color: rgba(0, 0, 0, 0.656);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
